<!doctype html>
<html lang="en">

<body>


  <main role="main">

    <div class="jumbotron">
      <div class="container">
        <h4 >Listado de actores</h4>

<!-- 
        <app-tabla-pelicula [listadoPeliculas]="ListadoPeliculaPrincipal"
          (peliculaSeleccionado)="tomarPeliculaParaDetalles($event)"></app-tabla-pelicula> -->

          <app-actor-listado  (actorSeleccionado)="CargarActorSeleccionado($event)"></app-actor-listado>


      </div>
    </div>


    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <br><br>
          <img class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Donec sed odio dui.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        
        <div class="card bg-dark text-white" style="margin: auto">

          <div class="card-body">
            <br>
            <app-listado-peliculas-actor [actorParaMostrar]="actorSeleccionado"></app-listado-peliculas-actor>
            
          </div>


        </div>

        <div class="card" class="col-lg-4">
          <br><br>
          <img class="rounded-circle"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Generic placeholder image" width="140" height="140">
          <h2>Heading</h2>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

      </div><!-- /.row -->

    </div>


    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>&copy; 2020, Sinisterra Luciano. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
  </main>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->

</body>

</html>