
<div  *ngIf='pelisDelActor()'>

    <div class="container">
        <h3 style="color: black;">Peliculas</h3>
          <div>
        <ul class="list-group mb-3 card-body overflow-auto" style="height:auto;" #scrollMe  [scrollTop]="scrollMe">
          <li type="text" class="list-group-item d-flex justify-content-between lh-condensed elegido" *ngFor="let pelicula of peliculasDelActor" (click)="SeleccionoPelicula(pelicula)">
              <div>
                  <h6 style="color: black;">{{pelicula.nombre}}</h6>

              </div>
          </li>
        </ul>
      </div>

    </div>
  </div>