<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>TP PELICULAS</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template 
    <link href="carousel.css" rel="stylesheet">-->
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">TP PELICULAS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" routerLink="/busqueda">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="../actor/alta">Alta Actores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>



    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">
                <app-tabla-paises (paisSeleccionadoEvent)="cambiarPais($event)"></app-tabla-paises>
            </div>

            <div class="col-md-8 order-md-1">
                <div>

                    <form [formGroup]="forma" (ngSubmit)="enviar()">
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <h2>Alta Actores</h2>
                            </div>
                        </div>

                        <div class="row formulario">

                            <div class="col-md-6 mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre"
                                    formControlName="nombre" [(ngModel)]="unActor.nombre">
                                <small class="invalid"
                                    *ngIf="forma.controls.nombre.errors?.required && forma.controls.nombre.touched">El
                                    nombre es requerido</small>
                                <small class="invalid"
                                    *ngIf="forma.controls.nombre.errors?.contiene && forma.controls.nombre.touched">Tiene
                                    espacios</small>
                            </div>


                            <div class="col-md-6 mb-3">
                                <label for="apellido" class="form-label">Apellido</label>
                                <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido"
                                    formControlName="apellido" [(ngModel)]="unActor.apellido">
                                <small class="invalid"
                                    *ngIf="forma.controls.apellido.errors?.required && forma.controls.apellido.touched">El
                                    apellido es requerido</small>
                                <small class="invalid"
                                    *ngIf="forma.controls.apellido.errors?.contiene && forma.controls.apellido.touched">Tiene
                                    espacios</small>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="dni" class="form-label">Edad</label>
                                <input type="number" class="form-control" id="edad" placeholder="Ingrese edad"
                                    formControlName="edad" [(ngModel)]="unActor.edad">
                                <small class="invalid"
                                    *ngIf="forma.controls.edad.errors?.max || forma.controls.edad.errors?.min && forma.controls.edad.touched">Edad
                                    fuera de rango</small>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="sexo" class="form-label" >Sexo</label>
                                <select   id="sexo"  formControlName="sexo" [(ngModel)]="unActor.sexo">
                                    <option value="" disabled="true" selected>Seleccione uno</option>
                                    <option value="F">Femenino</option>
                                    <option value="M">Masculino</option>
                                </select>
                                <small class="invalid"  *ngIf="forma.controls.sexo.touched && forma.controls.sexo.errors?.required">El sexo es requerido</small>
                            </div>


                            <div *ngIf="!unPaisSeleccionado">
                                <p> Seleccione un pais de la lista -></p>
                            </div>

                            <div class="card col-12" style="max-width: 280px; margin: auto;" *ngIf="unPaisSeleccionado">
                                <img [src]="unPaisSeleccionado.flag" class="card-img-top" alt="image pais" />
                                <div class="card-body">
                                    <h5 class="card-title" >{{ unPaisSeleccionado.name }}</h5>
                                    <input type="text" id="nacionalidad"  class="form-control" formControlName="nacionalidad" [(ngModel)]="unActor.nacionalidad" value="{{unPaisSeleccionado.name}}" readonly>
                                </div>
                            </div>
                        </div>
                
                 
                            <div class="col-md-12 d-grid gap-2">

                                <button type="submit" class="btn btn-primary btn-block"
                                    (click)="addActor()">
                                    Aceptar
                                </button>

   

                            </div>

                    </form>