<!-- 
<div class="d-flex justify-content-center pb-3">
  <div class="spinner-border" role="status" ></div>
</div> -->

<table class="table table-hover">
    <thead>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Sexo</th>
      <th>Edad</th>
      <th>Nacionalidad</th>
  

    </thead>
    <tbody >
      <tr *ngFor="let unActor of listadoActores$ | async" app-fila-pelicula 
      (click)="mostrarDetalles(unActor)" >
        <td>{{unActor.nombre}}</td>
        <td>{{unActor.apellido}}</td>
        <td>{{unActor.sexo}}</td>
        <td>{{unActor.edad}}</td>
        <td>{{unActor.nacionalidad}}</td>
 
      </tr>
    </tbody>
  </table>