<!doctype html>
<html lang="en">



<body>



    <div class="container">
        <br>
        <div class="row">
           

        <form [formGroup]="this.formPeli" class="col-md-6 sm-8">
            <div class="form-group">
                <label for="exampleInputPassword1">Nombre</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre de la película"
                    formControlName="nombre" />

                <small class="invalid" *ngIf="
                          this.formPeli.get('nombre')?.errors?.required &&
                          this.formPeli.get('nombre')?.touched
                        ">
                    El nombre es requerido
                </small>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Tipo</label>

                <select class="custom-select" formControlName="tipo">
                    <option selected value="Otros" disabled>Seleccione</option>
                    <option value="Terror">Terror</option>
                    <option value="Comedia">Comedia</option>
                    <option value="Amor">Amor</option>
                </select>

                <small class="invalid" *ngIf="
                          this.formPeli.get('tipo')?.errors?.required &&
                          this.formPeli.get('tipo')?.touched
                        ">
                    El tipo es requerido
                </small>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Fecha de estreno</label>
                <input type="date" class="form-control" id="exampleInputPassword1" formControlName="fechaDeEstreno" />

                <small class="invalid" *ngIf="
                          this.formPeli.get('fechaDeEstreno')?.errors?.required &&
                          this.formPeli.get('fechaDeEstreno')?.touched
                        ">
                    La fecha de estreno es requerida
                </small>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Cantidad de público</label>
                <input type="number" class="form-control" id="exampleInputPassword1"
                    formControlName="cantidadDePublico" />
                <small class="invalid" *ngIf="
                          this.formPeli.get('cantidadDePublico')?.errors?.required &&
                          this.formPeli.get('cantidadDePublico')?.touched">
                    La cantidad de público es requerida
                </small>
                <small class="invalid" *ngIf="
                         this.formPeli.get('cantidadDePublico')?.errors?.min ||
                         this.formPeli.get('cantidadDePublico')?.errors?.max
                             ">
                    La cantidad de público debe ser mínimo 1 y máximo 5000
                </small>

            </div>

 
            <div class="actorPrincipal">
                <p> Seleccione un actor de la lista -></p>
            </div>

            <div *ngIf="unActorSeleccionado.length">
            <ul class="list-group mb-3 card-body overflow-auto" style="height: 180px;" #scrollMe  [scrollTop]="scrollMe">
                <li type="text" class="list-group-item d-flex justify-content-between lh-condensed elegido" *ngFor="let actor of unActorSeleccionado" disable>
                    
                      <input type="text" class="form-control"  value="{{actor.apellido}} {{actor.nombre}}"  disabled>

                      <button class="btn btn-danger" (click)="eliminarActor(actor)">
                        <i  class="fa fa-times"  ></i>
                    </button>

                </li>
              </ul>
            </div>

            <div class="form-group">
                <label for="exampleInputPassword1">Foto de película</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="URL de la imagen"
                    formControlName="imagen" />

                <small class="invalid" *ngIf="
                          this.formPeli.get('imagen')?.errors?.required &&
                          this.formPeli.get('imagen')?.touched
                        ">
                    La foto de película es requerida
                </small>
            </div>


   
                

            <button type="submit" (click)="enviar()" class="btn btn-primary btn-block" [disabled]="this.formPeli.invalid || !unActorSeleccionado.length">
                Crear
            </button>
            <br>
     
       
    
             
      
        </form>
        <div   class="col-md-6 themed-grid-col">
            <app-tabla-actores class="tablaActores"  (actorSeleccionado)="agregarActor($event)"></app-tabla-actores> 
        </div>