<h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Paises</span>
    <span class="badge badge-secondary badge-pill"> 15</span>
</h4>

<div class="d-flex justify-content-center pb-3" *ngIf="listaPaises.length === 0">
    <div class="spinner-border" role="status"></div>
</div>

<ul class="ul-list list-group mb-3 overflow-auto">
    <li style="cursor: pointer" class="list-group-item list-group-item-action d-flex justify-content-between lh-sm"
        *ngFor="let pais of listaPaises  | slice:0:15;" (click)="seleccionarPais(pais)">
        <div >
            <h6 class="my-0" *ngIf="listaPaises.length ">{{ pais.name }}</h6>
            <small class="text-muted">{{ pais.nativeName }}</small>
        </div>
        <img [src]="pais.flag" alt="bandera del pais" width="60px" height="40px" />
  
    </li>
</ul>