<div *ngIf="!unaPeli">
    <p> Seleccione una Pelicula </p>
  </div>
  
  
  <div *ngIf="unaPeli">
    <h2>{{unaPeli.titulo}} </h2>
    <div class="card" style="width:200px">
        <img class="card-img-top" src="{{unaPeli.pathFoto}}" alt="" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">{{unaPeli.id}}</h4>
          <p class="card-text">Pelicula: <b>{{unaPeli.nombre}}, {{unaPeli.tipo}}
            ,{{unaPeli.fechaEstreno}}, {{unaPeli.cantidadPublico}}</b>
          </p>
          <!-- <a href="#" class="btn btn-danger">Borrar</a> -->
        </div>
      </div>
  </div>